body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#data-container {
    margin-top: 20px;
}

.item {
    margin-top:2vh;
    margin-bottom: 2vh;
    width: 50vw;
    background-color: black;
}

img{
    max-width: 300px;
}

