body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin-top: 10vh;
}

#form {
    display: flex;
    justify-content: center;
}

#data-container {
    margin-top: 20px;
}

.item {
    margin-top:2vh;
    margin-bottom: 2vh;
    width: 95vw;
    background-color: black;
}

img{
    width: 200px;
}

